


$blue-accent: #0079ff;

$grey-blue--light: #697c9a;
$links-and-date--light: #4b6a9b;
$title-and-hover--light: #2b3442;
$bg--light: #f6f8ff;
$card-bg--light: #fefefe;

$grey-blue--dark: #90a4d4;
$title-and-hover--dark: #ffffff;
$bg--dark: #141d2f;
$card-bg--dark: #1e2a47; ;
